@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("./components/Header/header.css");
@import url("./components/Footer/footer.css");

:root{
    --background-primary: #1F2937;
    --background-secondary: #3882F6;
    --background-light: #E5E7EB;
    --background-white: #ffffff;
    
    --text-primary: #F9FAF8;
    --text-secondary: #E5E7EB;
    --text-dark: #1F2937;
    --font: "Roboto";

    --size-lg: 48px;
    --size-md: 36px;
    --size-rg: 24px;
    --size-sm: 18px;
    --size-xs: 14px;
    --weight-normal: 400;
    --weight-bold: 500;
    --weight-extra-bold: 700;
}

body{
    font-family: var(--font), sans-serif;
}

main{
    min-height: calc(100vh - 675px);
    box-sizing: border-box;
}