@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("./components/Header/header.css");
@import url("./components/Footer/footer.css");

:root{
    --bkg-primary: #1F2937;
    --bkg-secondary: #3882F6;
    --bkg-light: #E5E7EB;
    
    --text-primary: #F9FAF8;
    --text-secondary: #E5E7EB;
    --text-dark: #1F2937;
    --font: "Roboto";

    --fs-lg: 48px;
    --fs-md: 36px;
    --fs-rg: 24px;
    --fs-sm: 18px;
    --fs-xs: 14px;
    --wght-normal: 400;
    --wght-bold: 500;
    --wght-extra-bold: 700;
}

body{
    font-family: var(--font), sans-serif;
}
main{
    min-height: 72vh;
    box-sizing: border-box;
}