#signup-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 5rem auto;
    background-color: var(--background-secondary);
    border-radius: 5px;
}

.info-section {
    margin: 40px;
}

.info-section p {
   color: var(--text-primary);
   font-size: var(--size-rg);
   font-weight: var(--weight-bold);
}

.info-section span {
    color: var(--text-secondary);
    font-size: var(--size-sm);
    font-weight: var(--weight-normal);
}

.button-signup{
    background-color: var(--background-secondary);
    border: 2px solid var(--background-light);
    border-radius: 5px;
    color: var(--text-primary);
    font-size: var(--size-sm);
    font-weight: var(--weight-extra-bold);
    cursor: pointer;
    padding: 10px 20px;
    width: 9rem;
    text-decoration: none;
    text-align: center;
}

.button-signup:hover{
    background-color: var(--background-primary);
}

.button-signup:active{
    background-color: var(--background-light);
    color: var(--text-dark);
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #signup-section {
        flex-direction: column;
    }

    .button-signup{
        margin-bottom: 15px;
    } 
}