#categories {
    color: var(--text-dark);
    background-color: var(--background-white);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#categories .container {
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.categories-title {
    font-size: var(--size-md);
    font-weight: var(--weight-extra-bold);
    text-align: center;
    margin-bottom: 3rem;
}

.category {
    max-width: 200px;
    text-align: center;
    position: relative;
}

.category a {
    text-decoration: none;
}

.category .category-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 3px solid var(--background-secondary);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.category .img-wrapper {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 203px;
    height: 203px;
    background: var(--background-secondary);
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.4s;
}

.category .img-wrapper h3 {
    color: var(--text-primary);
    font-size: var(--size-rg);
    z-index: 2;
    opacity: 0;
    left: 0;
    right: 0;
    top: 50%;
    position: inherit;
    transition: opacity 0.8s;
}

.category .img-wrapper:hover {
    opacity: 0.9;
}

.category .img-wrapper:hover h3 {
    opacity: 1;
}
