.hero-section {
    background-color: var(--background-primary);
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.logo-container{
    width: 175px;
    height: 175px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    font-size: var(--size-rg);
    color: var(--text-secondary);
    padding-left: 1rem;
}

.icons-container{
    display: flex;
}

.navbar svg{
    width: 24px;
    height: 24px;
    filter: invert(95%) sepia(86%) saturate(0%) hue-rotate(73deg) brightness(102%) contrast(101%);
}


/* making webpage responsive */
@media only screen and (max-width: 969px) {
    .hero-section, .navbar {
        flex-direction: column;
        align-items: center;
    }
    .logo-container{
        width: 125px;
        height: 125px;
    }
    .navbar img{
        width: 90%;
    }

    .navbar a {
        padding-left: 0;
        padding-bottom: 1rem;
    }
    .icons-container a{
        padding: 1rem;
    }
}
