.hero-section {
font-family: var(--font), sans-serif;
background-color: var(--bkg-primary);
width: 100%;
max-width: 100%;
display: flex;
justify-content: space-evenly;
flex-direction: column;
}

.navbar {
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
background-color: var(--bkg-primary);
}

.navbar img {
padding-right: 5rem;
width: 130px;
height: 130px;
}

.navbar a {
text-decoration: none;
color: var(--text-secondary);
}

.navbar ul{
padding-left: 9.5rem;
display: flex;
align-items: center;
}

.navbar ul li {
display: inline-block;
padding: 0 5px 0px 5px;
}



.navbar .icon-1, .icon-2, .icon-3{
background-image: url(../../../img/icon-1.jpg);
width: 25px;
height: 25px;
background-repeat: no-repeat;
background-size: contain;
}

.navbar .icon-2{
background-image: url(../../../img/icon-2.jpg);
}

.navbar .icon-3{
    background-image: url(../../../img/icon-3.jpg);
}



.main-section {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
margin: auto;
padding: auto;
}

.title-section {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 1rem;
}

.title-section h1 {
font-size: var(--fs-lg);
font-weight: var(--wght-extra-bold);
color: var(--text-primary);
padding-bottom: 5px;
}

.title-section p {
font-size: var(--fs--sm);
color: var(--text-secondary);
line-height: 1.6;
padding-bottom: 5px;
padding-right: 10px;
}

.title-section a {
text-decoration: none;
width: 10%;
background-color: var(--bkg-secondary);
padding: 10px 30px 10px 30px;
color: var(--text-primary);
font-weight: var(--wght-bold);
border-radius: 10px;
border: var(--bkg-secondary);
}
.img-container{
padding-bottom: 3rem;
}
.img-container img {
display: block;
max-width: 100%;
height:auto;
border: none;
}

/* making webpage responsive */

@media only screen and (max-width: 969px) {
.main-section{
font-family: var(--font), sans-serif;
background-color: var(--bkg-primary);
width: 100%;
justify-content: center;
}

.navbar {
flex-direction: column;
justify-content: center;
}

.navbar img{
padding-right: 0;
}

.navbar ul {
display: flex;
flex-direction: row;
align-items: center;
padding-left: 0;
padding-bottom: 1rem;
}

.navbar ul li a{
padding: 10px 0 10px 0;
}

.navbar ul a li {
display: block;
}

.main-section {
flex-direction: column;
justify-content: center;
}

.title-section {
text-align: center;
padding: 1rem 1rem;
align-items: center;
}

.title-section a {
margin: 1rem 0 2rem 0;
}

.img-container img {
display: block;
width: 100%;
max-width: 765px;
height: auto;
}
}