#quote {
    background-color: var(--bkg-light);
    width: 100%;
    color: var(--text-dark);
    padding: 1rem;
    box-sizing: border-box;
}

blockquote p {
    text-align: center;
    font-style: italic;
    font-size: var(--fs-md);
    font-weight: var(--wght-normal);
    padding: 2.5rem;
}

blockquote{
    text-align: end;
}

blockquote span {
    font-size: var(--fs-sm);
    font-weight: var(--wght-extra-bold);
    padding: 1rem;
}

@media only screen and (max-width: 992px) {
    blockquote p {
        font-size: var(--fs-rg);
        padding: 2.5rem 0;
    }
    blockquote span {
        font-size: var(--fs-xs);
    }
}
