#quote {
    background-color: var(--bkg-light);
    width: 100%;
    color: var(--text-dark);
}

#quote h4 {
    text-align: center;
    font-style: italic;
    font-size: var(--fs-md);
    font-weight: var(--wght-normal);
    padding: 75px 200px 15px 200px;
}

#quote p {
    text-align: right;
    font-size: var(--fs-sm);
    font-weight: var(--wght-extra-bold);
    padding: 15px 200px 75px 200px;
}

@media only screen and (max-width: 992px) {
    #quote h4 {
        font-size: var(--fs-rg);
        padding: 75px 100px 15px 100px;
    }
    #quote p {
        font-size: var(--fs-xs);
        padding: 5px 100px 75px 100px;
    }
}
