#quote {
    /* font-family: var(--font), sans-serif; */
    background-color: var(--bkg-light);
    width: 100%;
    color: var(--text-dark);
}

.geeks h4 {
    text-align: center;
    font-style: italic;
    font-size: var(--fs-md);
    font-weight: var(--wght-normal);
    padding: 75px 200px 15px 200px;
}

.geeks p {
    text-align: right;
    font-size: var(--fs-sm);
    font-weight: var(--wght-extra-bold);
    padding: 15px 200px 75px 200px;
}

@media only screen and (max-width: 992px) {
    .geeks h4 {
        /* try to use a variable for font-size */
        font-size: 25px;
        padding: 75px 100px 15px 100px;
    }
    .geeks p {
        /* I created a font-size variable that had the value you wanted  */
        font-size: var(--fs-xs);
        padding: 5px 100px 75px 100px;
    }
}